/* Global */
#root {
  margin-top: 0px;
  height: 100vh;
}
.App {
  text-align: center;
  height: 100vh;
}
body {
  margin-top: 0px;
  background-color: #A3F7F4;
}
body, html { font-size: 100%; padding: 0; margin: 0;}

button {
  color: white;
  background-color: #5C87BC;
  border-radius: 30px;
  border: #5C87BC;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Form Styles */
input[type="text"] {
  padding: 10px;
  background-color: #5ADDC8;
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
  width: 90%;
  text-align: center;
  border: none;
  display: block;
}

button[type="submit"] {
  margin-top: 10px;
  justify-self: center;
  align-self: center;
}

form {
  display: inline-block;
  justify-self: center;
  align-content: center;
  width: 250px;
}

/* Header */
.header-container {
  margin-top: 0px;
  background-color: #5ADDC8;
  display: grid;
  height: 7vh;
}
.header-container > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.header-container> *:last-child {
  justify-self: right;
  align-self: center;
}
#logo-wrapper {
  justify-self: center;
  justify-content: center;
  align-items: center;
}
#right-header-container {
  margin-right: 10px;
}
.headerBtn {
  margin-right: 10px;
}

.headerSpan {
  display: block;
  justify-content: right;
}

#logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  
}

#login-page-container {
  height: 100vh;
  display: grid;
  
}
#login-page-container > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
#login-page-container> *:last-child {
  justify-self: center;
  align-self: center;
}

#login-form-container {
  align-self: center;
  justify-self: center;
}

